<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <button onclick="location = '/home'" >Home</button>  &nbsp;| &nbsp;
    <button onclick="location = '/customer'" >Customer</button>  &nbsp;| &nbsp;
    <button onclick="location = '/student'" >Student</button>  &nbsp;| &nbsp;
    <button onclick="location = '/about'" >About</button>  &nbsp;| &nbsp;
    <button onclick="location = '/login'" >logout</button>
    <hr/>
  </body>
</html>
