<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
     
  <body>
    <script type="text/javascript">
      addStudent = () => {
        var record ={};
        record.Name = $('#name').val();
        record.parentname = $('#parentname').val();
        record.class = $('#class').val();
        record.subject = $('#subject').val();
        record.teacher = $('#teacher').val();
        record.city = $('#city').val();
        record.country = $('#country').val();
        if(record.name ==""){
          alert('name cannot be blank.');
        } else{
           $.ajax({url: "/api/student",
            method:'POST', 
            data:record,
            success: function(response){
              if(response.result =="success"){
                location = "/student";
              }else{
                alert(response.msg);
              }
            }});
        } 
        /*else if(email == password) {
          //location = "/customer";
        }*/
      }
    </script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>>
    <h1><%= title %></h1>
    <input id = "name" type="text" name="" placeholder="Enter name"><br/><br/>
    <input id = "parentname" type="text" name="" placeholder="Enter parentname"><br/><br/>
    <input id = "class" type="text" name="" placeholder="Enter class"><br/><br/>
    <input id = "subject" type="text" name="" placeholder="Enter subject"><br/><br/>
    <input id = "teacher" type="text" name="" placeholder="Enter teacher"><br/><br/>
    <input id = "city" type="text" name="" placeholder="Enter city"><br/><br/>
    <input id = "country" type="text" name="" placeholder="Enter country"><br/><br/>
    <input  onclick="addStudent();" type="button" name="" value="Submit"><br/>
  </body>
</html>